<form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="mt-8">

    <div>
        <label for="name">
            Name
        </label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label for="username">
            Username
        </label>
        <input id="username" type="text" formControlName="username">
    </div>

    <div>
        <label for="password">
            password
        </label>
        <input id="password" type="text" formControlName="password">
    </div>
    <button type="button" (click)="onRegister()">Register</button>
    <div class="mt-2" *ngIf="status.message">
        <span [ngClass]="{'is--error': status.isError}">
            {{ status.message }}
        </span>
    </div>
</form>
